@media (min-width: 600px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(237, 234, 234);
        padding: 1%;
        font-weight: bold;
    }
    .child:hover {
        cursor: pointer;
    }
    .parent {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
        margin-top: 2%;
    }
    .subParent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: solid 4px black;
        width: 45%;
    }
    .child2 {
        padding: 7px;
    }
    .footer {
        background-color: rgb(237, 234, 234);
    }
}
@media (max-width: 599px) {
    .header {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-weight: bold;
    }
.child {
        padding: 0.5%;
        width: 100%;
        text-align: center;
        border: solid thin rgb(213, 213, 213);
        background-color: rgb(237, 234, 234);
        margin-bottom: 0.1%;
    }
    .child,.child:hover {
        cursor: pointer;
    }
    .parent {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        margin-top: 2%;
        gap: 10px;
    }

    .subParent {
        display: flex;
        flex-direction: column;
        border: solid thick black;
        width: 90%;
    }

    .child2 {
        padding: 3%;
    }
    .footer {
        background-color: rgb(237, 234, 234);
    }
}